/* style.css */
body {
  background: url(cover.png);
  background-position: top;
  background-size: 40%;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.playlist-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

button {
  border: none;
  border-radius: 1;
  background: linear-gradient(
    to bottom,
    #3a2101 10%,
    #6d3f07 40%,
    #a2600c 100%
  );
  animation: glowing 8s ease-in-out infinite;
  color: rgb(172, 172, 172);
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: 204px;
  margin: 5px auto;
}

button:hover {
  background-color: #555;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px 5px #6d3f07;
  }
  50% {
    box-shadow: 0 0 0 0 #a2600c;
  }
  100% {
    box-shadow: 0 0 5px 5px #a2600c;
  }
}

#player {
  width: 412px;
  border-radius: 1;
  background: linear-gradient(to right, #3a2101 10%, #6d3f07 50%, #a2600c 100%);
  margin: 0 auto;
  animation: glowing 8s ease-in-out infinite;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
